.yomooh-demo-importer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.dashboard-tips {
    font-style: italic;
    line-height: 1.7;
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #3F51B5;
    border-left: 4px solid #f04294;
    border-radius: 14px;
    background: #5cc05315;
}

.dashboard-tips a {
    font-weight: 700;
    color: inherit;
    outline: none;
    text-decoration-style: dotted;
}


.dashboard-tips i {
    font-size: 17px;
    line-height: 1.3;
    margin-right: 2px;
}

.dashboard-tips p {
    font-size: 16px;
}
.yomooh-demo-subheader {
    display: flex;
	 margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.demo-desc-p {
    margin-top: -20px;
	margin-bottom: 40px;
}
.yomooh-demo-subheader h2 {
    margin: 0;
	color: #1d2327;
    font-size: 1.6em;
}

.search-box input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 12px;
    min-width: 250px;
}

.yomooh-demo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.yomooh-demo-item {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    height: auto;
    -webkit-transition: all .25s;
    transition: all .25s;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.yomooh-demo-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.demo-thumbnail {
    position: relative;
    overflow: hidden;
}

.demo-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.demo-action {
    display: flex;
    gap: 50px; /* Adds space between the buttons */
    margin: 10px;
}

.demo-action .button {
    padding: 1px 18px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.demo-action .button:hover {
    background-color: #525257;
    color: #fff;
}

.demo-action .button-primary {
    background-color: var(--primary-color, #0073aa);
    color: #fff;
    border: none;
}

.demo-action .button-primary:hover {
    color: #000;
    background: #68e58d;
}


.yomooh-demo-item:hover .demo-actions {
    opacity: 1;
}

.demo-actions .button {
    margin: 0 5px;
}

.demos-page .button {
	transition: 0.25s;
	box-shadow: none !important;
	outline: none !important;
}
.demos-page .visit {
	padding: 12px 22px 8px 22px;
	background-color: var(--primary-color, #64657f);
	color: #fff;
	text-decoration: none;
	margin-left: 22px;
	border-radius: 12px;
	border: none;
}

.demos-page .visit:hover {
    color: #fff;
	background: #2196F3;
	border-radius: 12px ;
    border: none;
}
.demos-page .preview-button {
	padding: 12px 22px 2px 22px;
	background-color: var(--primary-color, #6f7087);
	color: #fff;
	margin-left: 22px;
	border-radius: 12px;
	border: none;
}
.demos-page .preview-button:hover {
	color: #fff;
	background: #0b0b0f;
	border-radius: 12px ;
    border: none;
}
.demos-page .button {
	padding: 6px 22px;
	background-color: var(--primary-color, #34388d);
	color: #fff;
	border-radius: 12px;
	border: none;
}
.demos-page .button:hover {
    color: #fff;
	background: #68e58d;
	border-radius: 12px ;
    border: none;
}
.demos-page .badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0px 6px;
	border-radius: 9px;
	text-transform: uppercase;
}
.demos-page .badge-success {
	background: #DEF3ED;
	color: #3FB28F;
}
.demos-page .badge-info {
	background: #007CBA;
	color: #FFFFFF;
}
.demos-page .badge-warning {
	background: #F8E4E4;
	color: #F58787;
}
.demos-page .switcher {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}

.demos-page .switcher .switch {
	border: 1px solid #000000;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 1.75rem;
	height: 18px;
	padding: 0;
	position: relative;
	vertical-align: middle;
	width: 36px;
	margin-left: 0.5rem;
	border-radius: 9px;
}
.demos-page .switcher .switch .switch-slider {
	position: absolute;
	top: 3px;
	left: 4px;
	width: 10px;
	height: 10px;
	z-index: 1;
	background: #000000;
	border-radius: 50%;
	transition: left 0.25s ease;
}
.demos-page .switcher .tooltip {
	position: absolute;
	top: calc(100% + 5px);
	right: 0;
	min-width: 150px;
	max-width: 200px;
	text-align: center;
	padding: 4px 8px;
	font-size: 12px;
	background: #607D8B;
	color: #FFF;
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	z-index: 4;
}
.demos-page .switcher .tooltip-desc {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	min-width: 150px;
	max-width: 200px;
	text-align: center;
	padding: 4px 8px;
	font-size: 12px;
	background: #607D8B;
	color: #FFF;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	z-index: 4;
}
.demos-page .switcher .checkbox {
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
	border: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	appearance: none;
}
.demos-page .switcher .checkbox {
    border-left: 4px solid #d63638;
}
.demos-page .switcher .checkbox[readony], .demos-page .switcher .checkbox:disabled {
	opacity: 0;
}
.demos-page .switcher .checkbox[readony] ~ .switch, .demos-page .switcher .checkbox:disabled ~ .switch {
	opacity: 0.5;
}
.demos-page .switcher .checkbox[readony]:hover ~ .tooltip {
	opacity: 1;
	visibility: visible;
}
.demos-page .switcher .checkbox:checked ~ .switch {
	border-color: #007dba;
	background: #007dba;
}
.demos-page .switcher .checkbox:checked ~ .switch .switch-slider {
	background: #FFFFFF;
	top: 3px;
	left: calc(50% + 4px);
}
.demos-page .switcher .tooltip-help {
	position: relative;
	z-index: 3;
	color: #3F51B5;
	margin-right: auto;
	cursor: pointer;
}
.demos-page .switcher .tooltip-help:hover {
	color: #2271b1;
}
.demos-page .switcher .tooltip-help:hover ~ .tooltip-desc {
	opacity: 1;
	visibility: visible;
}
.demos-page .header {
	display: flex;
	background: #FFFFFF;
	margin: 0 0 0 -20px;
	margin-bottom: 20px;
	border-radius: 16px;
	padding: 0 24px;
	justify-content: space-around;
}
.demos-page .header .header-left {
	display: flex;
	height: 100%;
	/* flex-direction: row-reverse; */
}
.demos-page .header .header-right {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 20%;
}
.demos-page .header .header-col {
	display: flex;
	align-items: center;
	/* border-right: 1px solid #221515; */
	padding: 0 24px;
	height: 100%;
	min-height: 60px;
}
.demos-page .header .header-col:first-child {
	padding-left: 0;
}
.demos-page .header .header-col-logo {
	border-right: none;
}
.demos-page .header .header-col-logo:only-child {
	border-right: none;
}
@media (min-width: 960px) {
	.demos-page .header .header-col-logo {
		border-right: 1px solid #f0f0f0;
	}
}
.demos-page .header .logo a {
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 20px;
	color: #000000;
	text-decoration: none;
}
.demos-page .header .logo a:focus {
	box-shadow: none;
}
.demos-page .demos {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-gap: 20px;
	margin-top: 20px;
}
.demos-page .demos .demo-item {
	display: none;
	background: #FFFFFF;
	border-radius: 2px;
	overflow: hidden;
}
.demos-page .demos .demo-item:not([data-preview=false]) {
	cursor: pointer;
}
.demos-page .demos .demo-item.demo-item-active {
	display: block;
	background: #fff;
    border-radius: 14px;
    overflow: hidden;
    height: auto;
    -webkit-transition: all .25s;
    transition: all .25s;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.demos-page .demos .demo-item.demo-item-active:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.demos-page .demos .demo-thumbnail {
	background: #ededed;
	position: relative;
}
.demos-page .demos .demo-thumbnail:before {
	display: table;
	width: 0;
	height: 100%;
	padding-bottom: 56%;
	content: "";
}
.demos-page .demos .demo-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}
.demos-page .demos .demo-preview {
	background: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	opacity: 0;
	transition: opacity 0.5s;
}
.demos-page .demos .demo-preview span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	font-size: 13px;
	color: #FFFFFF;
	transition: background-color 0.5s;
}
.demos-page .demos .demo-item:hover .demo-preview {
	opacity: 1;
}
.demos-page .demos .demo-data {
	border-top: 1px solid #ededed;
	/* display: flex; */
	align-items: center;
	justify-content: space-between;
	/* padding: 10px 16px; */
}
.demos-page .demos .demo-info {
	display: flex;
	padding: 10px 16px; 
	font-size: 18px; 
	align-items: center;
	flex-direction: column;
}
.demos-page .demos .demo-name {
	font-weight: 600;
}
.demos-page .demos .demo-badge {
	margin-left: 0.5rem;
}
.demos-page .demos .demo-actions {
	opacity: 0;
	transition: opacity 0.5s;
}
.demos-page .demos .demo-actions .button {
	padding: 2px 16px;
}
.demos-page .demos .demo-item:hover .demo-actions {
	opacity: 1;
}
.demos-page .import-theme {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999999;
	opacity: 0;
	padding: 20px;
	transition: 0.5s opacity 0s, 0s visibility 0.5s;
}
.import-theme-active .demos-page .import-theme {
	visibility: visible;
	opacity: 1;
	transition: 0.5s opacity 0s, 0s visibility 0s;
}
.import-theme-active .demos-page .import-theme .import-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.demos-page .import-theme .import-popup {
	position: relative;
	background: #FFFFFF;
	width: 100%;
	max-width: 320px;
	box-shadow: 0px 16px 32px -8px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	overflow: hidden;
	overflow-y: auto;
}
.demos-page .import-theme .import-header {
	border-bottom: 1px solid #f0f0f0;
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: flex;
	font-weight: 600;
	font-size: 17px;
	color: #2546be;
	justify-content: space-evenly;
}
.demos-page .import-theme .import-subheader {
	font-size: 11px;
	text-transform: uppercase;
	color: #697B96;
}
.demos-page .import-theme .import-kits {
	margin-top: 1rem;
}
.demos-page .import-theme .import-kits form:first-child .switcher {
	margin-top: 0;
}
.demos-page .import-theme .kits-header {
	font-size: 11px;
	text-transform: uppercase;
	color: #697B96;
}
.demos-page .import-theme .msg-warning {
	font-size: 12px;
	margin-top: 0.5rem;
	color: #dc3232;
}
.demos-page .import-theme .import-step {
	display: none;
}
.demos-page .import-theme .import-step-active {
	display: flex;
	flex-direction: column;
}
.demos-page .import-theme .import-start .import-plugins {
	padding: 4px 24px 14px 24px;
}
.demos-page .import-theme .import-start .import-content {
	border-top: 1px solid #f0f0f0;
	padding: 4px 24px 14px 24px;
}
.demos-page .import-theme .import-start .import-content:first-child {
	border-top: none;
}
.demos-page .import-theme .import-start .import-load {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.demos-page .import-theme .import-start .import-load:after {
	animation: spin 4s linear infinite;
	font-family: "dashicons";
	font-size: 2rem;
	content: "\f113";
}
.demos-page .import-theme .import-start .msg-warning {
	margin: 0;
	padding: 24px;
}
.demos-page .import-theme .import-start .import-actions {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f0f0f0;
	padding: 14px;
}
.demos-page .import-theme .import-start .import-actions .button {
	padding: 6px 22px;
	border-radius: 12px ;
	 border: none;
	margin-right: 0.4rem;
}
.demos-page .import-theme .import-start .import-actions .button:hover {
    color: #000;
    background: #68e58d;
}
.demos-page .import-theme .import-start .import-actions .import-theme-cancel .button  {
    background-color: var(--primary-color, #9E9E9E);
    color: #fff;
    border: none;
}
.demos-page .import-theme .import-process .import-output {
	padding: 24px;
}
.demos-page .import-theme .import-process .import-desc {
	color: #9e2525;
}
.demos-page .import-theme .import-process .import-progress {
	margin-top: 2rem;
}
.demos-page .import-theme .import-process .import-progress-label {
	font-size: 12px;
	color: #697B96;
	margin-bottom: 0.25rem;
}
.demos-page .import-theme .import-process .import-progress-label:empty {
	display: none;
}
.demos-page .import-theme .import-process .import-progress-bar {
	position: relative;
	width: 100%;
	height: 12px;
	background: #F0F0F0;
	border-radius: 8px;
	overflow: hidden;
}
.demos-page .import-theme .import-process .import-progress-indicator {
	--indicator: 0%;
	background: #007CBA;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--indicator);
}
.demos-page .import-theme .import-process .import-progress-sublabel {
	margin-top: 0.5rem;
	font-size: 13px;
	color: #007CBA;
}
.demos-page .import-theme .import-finish .import-info {
	padding: 16px 4px 4px;
}
.demos-page .import-theme .import-finish .import-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.demos-page .import-theme .import-finish .import-logo svg {
	display: block;
	margin: 0 auto;
	fill: #DEF3ED;
}
.demos-page .import-theme .import-error .import-info {
	padding: 16px 4px 4px;
}
.demos-page .import-theme .import-error .import-logo svg {
	display: block;
	margin: 0 auto;
	fill: #DEF3ED;
}
#error-outline-path {
    fill: none;
    stroke-width: 2;
}

#error-path {
    stroke-width: 2;
    stroke-linecap: round;
}
.import-step.import-finish .import-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 44px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease;
}

.import-step.import-finish .import-cancel:hover {
  color: #E91E63;
}
.demos-page .import-theme .import-error .import-title {
	margin-top: 2rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	color: #1E1E1E;
}
.demos-page .import-theme .import-error .import-desc {
	margin-top: 1rem;
	text-align: center;
	color: #1E1E1E;
}
.import-error .import-actions {
    margin: 10px;
    text-align: center;
}
.demos-page .import-theme .import-finish .import-title {
	margin-top: 2rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	color: #1E1E1E;
}
.demos-page .import-theme .import-finish .import-desc {
	margin-top: 1rem;
	text-align: center;
	color: #1E1E1E;
}
.demos-page .import-theme .import-finish .import-customize {
	margin-top: 1.5rem;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}
.demos-page .import-theme .import-finish .import-customize .button {
	/* padding: 6px 22px; */
	background-color: var(--primary-color, #2f3155);
	color: #fff;
	margin-left: 22px;
	border-radius: 12px;
	border: none;
}
.demos-page .import-theme .import-finish .import-actions {
	display: flex;
	/* align-items: center; */
	border-top: 1px solid #f0f0f0;
	padding: 14px 4px 14px 4px;
	justify-content: space-between;
}
.demos-page .import-theme .import-finish .import-actions .link {
	/* margin-right: 1rem; */
	text-decoration: none;
}
.demos-page .import-theme .import-finish .import-actions .link:hover {
	text-decoration: underline;
}
.demos-page .import-theme .import-finish .import-actions .button {
	padding: 6px 22px;
}
.demos-page .import-theme-active {
	overflow: hidden;
}
.demos-page .preview {
	display: flex;
	flex-direction: column;
	background: #f1f1f1;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999998;
	opacity: 0;
	transition: 0.5s opacity 0s, 0s visibility 0.5s;
}
.preview-active .demos-page .preview {
	visibility: visible;
	opacity: 1;
	transition: 0.5s opacity 0s, 0s visibility 0s;
}
.demos-page .preview .preview-iframe {
	width: 100%;
	border-radius: 16px;
	height: 100%;
}
.demos-page .preview .header {
	margin: 0;
	box-shadow: inset 0px -1px 0px #F0F0F0;
	padding-left: 0px;
}
@media (min-width: 960px) {
	.demos-page .preview .header {
		padding-left: 24px;
	}
}
.demos-page .preview .header .button {
	padding: 5px 22px;
}
.demos-page .preview .header .arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #000000;
	transition: 0.25s;
	padding: 0 24px;
	height: 100%;
	outline: none;
}
.demos-page .preview .header .arrow:hover {
	background: #f8f9fa;
}
.demos-page .preview .header .arrow:focus {
	box-shadow: none;
}
.demos-page .preview .header .arrow:before {
	font-family: "dashicons";
	font-size: 18px;
}
.demos-page .preview .header .arrow.inactive {
	color: #CCCCCC;
	cursor: default;
}
.demos-page .preview .header .arrow.prev-demo:before {
	content: "\f341";
}
.demos-page .preview .header .arrow.next-demo:before {
	content: "\f345";
}
.demos-page .preview .header .header-logo {
	display: none;
}
@media (min-width: 960px) {
	.demos-page .preview .header .header-logo {
		display: flex;
	}
}
.demos-page .preview .header .header-info {
	display: none;
	border-right: none;
}
@media (min-width: 960px) {
	.demos-page .preview .header .header-info {
		display: flex;
	}
}
.demos-page .preview .header .header-arrow {
	padding: 0;
}
.demos-page .preview .header .demo-name {
	font-size: 1rem;
	font-weight: 600;
	color: #000000;
}
.demos-page .preview .header .preview-cancel .button{
	background-color: var(--primary-color, #9E9E9E);
    color: #fff;
	border-radius: 12px ;
    border: none;
}
.demos-page .preview .header .preview-cancel .button:hover {
    color: #fff;
	font-size: 16px ;
	border-radius: 12px ;
    border: none;
}
.demos-page .preview-active {
	overflow: hidden;
}
.demo-import-start.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.active-theme-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
    background: #f9f9f9;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
}

.theme-screenshot {
    flex: 0 0 auto;
}

.theme-screenshot img {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.theme-details {
    flex: 1;
}

.theme-details h3 {
    margin: 15px 0px 0px 0;
    font-size: 24px;
    color: #23282d;
}

.theme-meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.theme-version,
.theme-author {
    font-size: 14px;
    color: #646970;
}

.theme-description {
    font-size: 15px;
    line-height: 1.5;
    color: #3c434a;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .active-theme-info {
        flex-direction: column;
        gap: 15px;
    }
    
    .theme-screenshot img {
        width: 100%;
        height: auto;
    }
}
.demo-item {
    padding: 86px 16px 16px 6px;
    display: flex;
    flex-direction: column;
}

.demo-info {
    display: flex;
    padding: 12px 16px;
    margin-left:80px;
    border-radius: 8px;
}

.demo-name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: center;
    letter-spacing: 0.3px;
}
